* {
    box-sizing: border-box;
}

/** BODY **/
body {
    font-family: "Fira Sans", sans-serif;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh;
}

/** HEADER **/
header {
    background-color: #b4d2ba;
    padding-top: 10px;
    padding-bottom: 10px;
}

header h1 {
    font-family: "Roboto Slab", sans-serif;
    color : #1c7c54;
    text-align: center;
}

header h3 {
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
}

/** CONTENTS OF PAGE **/
#main-content {
        padding: 20px 20px 0px 20px;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
}
@media (min-width: 480px) and (max-width: 767px) {
    #main-content {
        padding: 20px 30px 0px 30px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    #main-content {
        padding: 20px 40px 0px 40px;
    }
}
@media (min-width: 1024px) {
    #main-content {
        padding: 20px 50px 0px 50px;
    }
}

h2 {
    font-family: "Roboto Slab", sans-serif;
}

h2 span {
    color: rgba(15, 15, 15, 0.75);
    font-style: italic;
}

/** SECTION **/
.section {
    margin-bottom: 80px;
}

.subsection {
    margin: 20px;
}

/** PARAGRAPH **/
p {
    text-align: justify;
}

/** LINKS **/
/* unvisited link */
p a:link {
    color: #b57f50;
}
  
  /* visited link */
p a:visited {
    color: #1c7c54;
}
  
  /* mouse over link */
p a:hover {
    color: black;
    background-color: #b57f50;
}
  
  /* selected link */
p a:active {
    color: #b57f50;
    background-color: white;
}

div.img-description {
    text-align: center;
    padding: 10px 20px;
}

/** IMAGES **/
.img-box {
    float: right;
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0px 20px 20px 20px;
    max-width: 700px;
  }
  
img {
    width: 100%;
}

div.img-description p {
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

/* #img-tree-benefits {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}
#img-tree-benefits img {
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px 10px 0px 10px;
} */

@media (max-width: 1024px) {
    .img-box {
        float: none !important;
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/** CHART **/
.chart {
    max-width: 1024px;
    margin: 50px auto;
}

.tooltip {
    position: absolute;
    text-align: center;
    contain: content;
    width: auto;
    height: auto;
    padding: 2px;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

/* @media (max-width: 1024px) {
    #my_dataviz svg g g.y-ticks g.tick text {
        display: none !important;
    }
} */

/** MISC **/
.text-center {
    text-align: center;
}

.font-italic {
    font-style: italic;
}

.padding-header {
    padding-left: 20px;
    padding-right: 20px;
}

.clear-fix {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #b57f50;
    opacity: 0.5;
}

/** FOOTER **/
footer {
    position: sticky;
    top: 100%;
    width: 100%;
    padding: 10px;
    color: #4c2e05;
    background-color: #b57f50;
}