* {
    box-sizing: border-box;
}

/** BODY **/
body {
    font-family: "Fira Sans", sans-serif;
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    font-size: 16px;
    line-height: 1.5;
    min-height: 100vh;
}

/** HEADER **/
header {
    background-color: #b4d2ba;
    padding-top: 10px;
    padding-bottom: 10px;
}

header h1 {
    font-family: "Roboto Slab", sans-serif;
    color : #1c7c54;
    text-align: center;
}

header h3 {
    font-family: "Roboto Slab", sans-serif;
    text-align: center;
}

/** CONTENTS OF PAGE **/
.content {
        padding: 0px 20px;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .content {
        padding: 0px 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .content {
        padding: 0px 40px;
    }
}
@media screen and (min-width: 1024px) {
    .content {
        padding: 0px 50px;
    }
}

h2 {
    font-family: "Roboto Slab", sans-serif;
}

h2 span {
    color: rgba(15, 15, 15, 0.75);
    font-style: italic;
}

/** TOPNAV **/
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    height: 52px;
    transition: 0.5s;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #1c7c54;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.stickyNav {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
  }

/* When the screen is less than 1024 pixels wide, hide all links, except for the first one ("Home"). 
   Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1024px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
   This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1024px) {
    .topnav.responsive {
        position: sticky;
        height: 312px;
    }
    .topnav.responsive a.icon {
        position: absolute;
        margin-right: 20px;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    .topnav.responsive a.icon {
        margin-right: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .topnav.responsive a.icon {
        margin-right: 40px;
    }
}

#main-content {
    padding-top: 20px !important;
}

/** SECTION **/
.section {
    margin-bottom: 80px;
}

.subsection {
    margin: 20px;
}

/** PARAGRAPH **/
p {
    text-align: justify;
}

/** LINKS **/
/* unvisited link */
p a:link {
    color: #b57f50;
}
  
  /* visited link */
p a:visited {
    color: #1c7c54;
}
  
  /* mouse over link */
p a:hover {
    color: black;
    background-color: #b57f50;
}
  
  /* selected link */
p a:active {
    color: #b57f50;
    background-color: white;
}

div.img-description {
    text-align: center;
    padding: 10px 20px;
}

/** IMAGES **/
.img-box {
    float: right;
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0px 20px 20px 20px;
    max-width: 700px;
  }
  
img {
    width: 100%;
}

div.img-description p {
    text-align: center;
    font-size: 14px;
    font-style: italic;
}




@media screen and (max-width: 1024px) {
    .img-box {
        float: none !important;
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/** CHART **/
.chart {
    max-width: 1024px;
    margin: 50px auto;
}

.tooltip {
    position: absolute;
    text-align: center;
    contain: content;
    width: auto;
    height: auto;
    padding: 2px;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}

#selection-waffle {
    font-family: "Fira Sans", sans-serif;
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    margin-left: 10px;
    font-size: 16px;
    line-height: 1.5;
}

/* @media (max-width: 1024px) {
    #my_dataviz svg g g.y-ticks g.tick text {
        display: none !important;
    }
} */

/** MISC **/
.text-center {
    text-align: center;
}

.font-italic {
    font-style: italic;
}

.padding-header {
    padding-left: 20px;
    padding-right: 20px;
    z-index: 5000;
}

.clear-fix {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #b57f50;
    opacity: 0.5;
}

/** FOOTER **/
footer {
    position: sticky;
    top: 100%;
    width: 100%;
    padding: 10px;
    color: #4c2e05;
    background-color: #b57f50;
}